<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujia.demo_reptile.mapper.ReptileMapper">
    <resultMap id="BaseResultMap" type="com.wujia.demo_reptile.entity.TestReptile">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="other" column="other" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>

