<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujia.demo_reptile.mapper.TestSourceMapper">
    <resultMap id="BaseResultMap" type="com.wujia.demo_reptile.entity.TestSource">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sourceName" column="source_name" jdbcType="VARCHAR"/>
        <result property="sourceUrl" column="source_url" jdbcType="VARCHAR"/>
        <result property="sourceTop" column="source_top" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getByUrl" resultMap="BaseResultMap">
        select *
        from test_source
        where source_url like concat('%', #{url},'%')
    </select>
</mapper>

